  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/action_btn.js"></script>
  <script>
    M.Sidenav.init(document.querySelector(".sidenav"))
    
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var instances = M.Materialbox.init(elems, {});
    });

    function toggleHide() {
      let elems = documnet.querySelectorAll('.addsong');
      elems.classList.toggle('hide');
    }


    // Adds modal functionality
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {});
    });
  </script>
  </body>
</html>
