<nav class="lime lighten-4">
  <div class="nav-wrapper container">
    <a href="/dashboard" class="brand-logo black-text center">PearJam</a>
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger black-text show-on-large"
      ><i class="fas fa-bars"></i
    ></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a class="black-text" href="/dashboard/friends">Friends</a></li>
      <li><a class="black-text" href="/dashboard/songs">Songs</a></li>
      <li><a class="black-text" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
