<nav class="lime lighten-4">
  <div class="nav-wrapper">
    <a href="/dashboard" class="title brand-logo black-text center">
      <img class="pear-logo" src="assets/pear-svgrepo-com.svg" alt="" />
      Pear Jam</a
    >
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger black-text show-on-large"
      ><i class="fas fa-bars"></i
    ></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/dashboard" class="black-text">Dashboard</a></li>
      <li><a href="/bands" class="black-text">Bands</a></li>
      <li><a href="/songs" class="black-text">Songs</a></li>
      <li><a href="/auth/logout" class="black-text">Logout</a></li>
    </ul>
  </div>
</nav>
