<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">PairJam</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/friends">Friends</a></li>
      <li><a href="/songs">Songs</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
