<nav>
  <div class="nav-wrapper lime lighten-4">
    <a href="#" class="brand-logo black-text center">PairJam</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="black-text" href="/dashboard/friends">Friends</a></li>
      <li><a class="black-text" href="/dashboard/songs">Songs</a></li>
      <li><a class="black-text" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
