<%- include('partials/_header.ejs') %>

<main class="container">
  <div class="card center lime lighten-4">
    <div class="card-content">
      <div class="center col">
        <h1>Pear Jam</h1>
        <h3>Welcome to the party.</h3>
        <h3>Let's get jamming!</h3>
        <h3><i class="fa-solid fa-guitar"></i></h3>
      </div>
      <br />
      <div class="divider"></div>
      <div class="section">
        <a href="/auth/google" class="btn white black-text">
          <i class="fab fa-google left"></i> Log In With Google
        </a>
      </div>
    </div>
  </div>
  <div class="card center lime lighten-4">
    <div class="card-content">
      <p class="wildstyle">
        Can you play a song? Add that song to your song list. When you pair up
        with other musicians with a Band, you show off your songs. Figure out
        who can play what, and get jamming.
      </p>
      <br />
      <div class="divider"></div>
      <br />
      <p class="wildstyle">
        Once you and your bandmates have a few songs down, get a setlist built.
        With one of those sweet suculant joys you can show up to band practice
        without all the boring talky stuff and just get to the jamming!
      </p>
    </div>
  </div>
</main>

<%- include('partials/_footer.ejs') %>
