<%- include('partials/_header.ejs') %>

<nav>
  <div class="nav-wrapper lime lighten-4">
    <a href="#" class="brand-logo black-text center">PearJam</a>
  </div>
</nav>

<main class="container login-container">
  <div class="card">
    <div class="card-content">
      <div class="center lime lighten-4 col s4">
        <h3>Welcome to the party. Let's get jamming!</h3>
        <h3><i class="fa-solid fa-guitar"></i></h3>
        <p class="wildstyle">
          Can you play a song? Add that song to your song list. When you pair up
          with other musicians with a Band, you show off your songs. Figure out
          who can play what, and get jamming.
        </p>
        <p class="wildstyle">
          Once you and your bandmates have a few songs down, get a setlist
          built. With one of those sweet suculant joys you can show up to band
          practice without all the boring talky stuff and just get to the
          jamming!
        </p>
      </div>
      <br />
      <div class="divider"></div>
      <div class="section">
        <a href="/auth/google" class="btn lime lighten-4 black-text">
          <i class="fab fa-google left"></i> Log In With Google
        </a>
      </div>
    </div>
  </div>
</main>

<%- include('partials/_footer.ejs') %>
