<%- include('partials/header.ejs') %>
<!-- <%- include('partials/navbar.ejs') %> -->

<main class="container valign-wrapper">
  <div class="valign-wrapper center-align bg-red">
    <img
      class="z-depth-3"
      src="/PairJam/public/assets/pear-svgrepo-com.svg"
      alt="PairJam"
    />
  </div>
  <div class="valign-wrapper center-align">
    <a href="/login" class="btn btn-primary"> Login</a>
    <a href="/signup" class="btn btn-primary"> Signup</a>
  </div>
</main>

<%- include('partials/footer.ejs') %>
