<%- include('partials/_header.ejs') %> <%- include('partials/_navbar.ejs') %>

<h1>Song Lists</h1>
<div class="song-list-conatiner">
  <div class="container card">
    <ul class="collection s6">
      <li class="collection-item avatar">
        <img src="/assets/babyDekker.jpg" alt="" class="circle" />
        <span class="title">Title</span>
        <p>
          First Line <br />
          Second Line
        </p>
        <a href="#!" class="secondary-content"
          ><i class="material-icons">grade</i></a
        >
      </li>
    </ul>
  </div>
</div>
<div class="song-btn-container">
  <a class="btn-floating top right btn-large waves-effect waves-light red"
    ><i class="material-icons">add</i></a
  >
</div>
<a href=""></a>
<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<!-- <div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div> -->

<!-- EJS comments begin with # -->
<%# include('partials/_song_btn.ejs') %> <%- include('partials/_footer.ejs') %>
