body {
    /* Background color for all pages */
    background: rgb(255, 255, 224);
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.pre-line {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
}